<%= f.error_messages %>

<div class="form-option">
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title, :class => "big" %></div>
</div>
<div class="form-option">
  <div><%= f.label :description %></div>
  <div><%= f.text_field :description %></div>
</div>
<div class="form-option">
  <div><%= f.label :body %></div>
  <div>
    <p class="note">If this field is filled in, gallery thumbs will display in the side column and body content will display in the main column.</p>
    <%= f.text_area :body, :class => "mceEditor" %>
  </div>
</div>

<div class="form-option">
  <div>
    <%= f.check_box :hidden %>
    <%= f.label :hidden, "Hide this gallery" %>
  </div>
    <div>
      <%= f.check_box :slideshow %>
      <%= f.label :slideshow, "Show this gallery as a slideshow" %>
      &mdash;
      <%= f.text_field :slideshow_delay_in_seconds, :size => 3, :maxlength => 2 %>
      <%= f.label :slideshow_delay_in_seconds, "second pause between images" %>
    </div>
</div>

<%- fancy_submit admin_galleries_path do -%>
  <%= f.submit "Save gallery" %>
<%- end -%>
