- unless @gallery.title.blank?
  .box
    %ul
      %li
        %span.hmenu
          = link_to("#{icon('Picture')} Manage Images", admin_gallery_images_path(@gallery, :fancy => "true"), :class => "fancy-iframe")
.responsive-form
  .main-fields
    %h2.title.form-label= f.label :title, "Title"
    = f.text_field :title, :class => "big-input"
    %h2.title.form-label
    = file_field_tag('images[]', :multiple => "true")
    .note.required *Required
    %h2.form-label= f.label :description, "Short Description"
    = f.text_area :description, :class => "big-area", :placeholder => "For features and meta description."
  #main-details.details.options 
    #options
      %h3 Gallery Options
      - unless GalleryCategory.all.empty?
        = f.label :gallery_category_id, "Category"
        %br
        = collection_select(:gallery, :gallery_category_id, GalleryCategory.all, :id, :title, {:include_blank => "Select a Gallery Category"}, :class => "select")
        %br
      - if !@cms_config['site_settings']['enable_responsive_layouts']
        = f.label :column_id, "Side Column"
        %br
        = collection_select(:gallery, :column_id, @side_columns, :id, :title, {:include_blank => "Select a Side Column"}, :class => "select")
      - else
        = f.label :main_column_id, "Layout"
        %br
        = collection_select(:gallery, :main_column_id, @layouts, :id, :title, {:include_blank => "Select a Layout"}, :class => "select")      
      %br
      = f.check_box :hidden
      = f.label :hidden, "Hide this gallery"
      %br
      = f.check_box :slideshow
      = f.label :slideshow, "Display as a slideshow"
      %br
      &nbsp;&nbsp;&nbsp;
      = f.text_field :slideshow_delay_in_seconds, :size => 3, :maxlength => 2
      = f.label :slideshow_delay_in_seconds, "second delay between images"
  = clear
  #body-wrapper
    .options#body-details
      .inserts
        %strong Insert:
        %br
        = render :partial => "admin/shared/parser_help"
        - unless @gallery.title.blank?
          = link_to("#{icon('Picture')} Attached Image", admin_gallery_images_path(@gallery, :fancy => "true"), :class => "fancy-iframe")
        = render :partial => "admin/shared/asset_options"
        = render :partial => "admin/shared/insert_map"

    %div{:style => "width: 560px;"}
      %h2.form-label
        = f.label :body, "Body"
      .note If this field is filled in, gallery thumbs will display in the side column and body content will display in the main column.
      = f.text_area :body, :size => "100x40", :class => "mceEditor"
  - fancy_submit admin_galleries_path do
    = f.submit "Save gallery"