<%- content_for(:meta_title) { concat "Image Galleries" } -%>

<h1><%= large_icon('Picture') + ' ' + yield(:meta_title).strip %></h1>

<div class="middle box">
  <div class="float-right">
    <%= render :partial => "/shared/search" %>
  </div>
  <%= icon("Plus", new_admin_gallery_path) %>
  <%= link_to "Start a new gallery", new_admin_gallery_path %>
</div>

<%- unless params[:q].blank? -%>
  <h2>Found <%= pluralize @all_galleries.size, "gallery" %></h2>
<%- else -%>
  <br/>
<%- end -%>

<%- for gallery in @galleries -%>
<div class="gallery" id="<%= dom_id gallery %>">
  <%- if gallery.images_count > 0 -%>
  <div class="image">
    <div class="image-thumb">
      <%= link_to image_tag(gallery.images.sort_by(&:position).first.image.url(:small)), [:admin, gallery, :images] %>
    </div>
  </div>
  <%- end -%>
  <div>
    <div class="big">
      <%= link_to h(gallery.title), [:admin, gallery, :images] %>
      <%- if gallery.hidden? -%>
        <span class="icon small gray">&mdash; hidden</span>
        <%= icon "Lock" %>
      <%- end -%>
    </div>
    <div>
      <%= pluralize gallery.images_count, 'image' %>
      as <%= gallery.slideshow? ? 'slideshow' : 'gallery' %>
    </div>
    <div>
      <%= icon "Write", edit_admin_gallery_path(gallery) %>
      <%= link_to "Edit name or settings", edit_admin_gallery_path(gallery) %>
    </div>
    <div>
      <%- if gallery.menus_count > 0 -%>
        <%= denavigate_icon(gallery, gallery.title, "inline") %>
        <%= navigate_icon(gallery, [:new, :admin, gallery, :menu], gallery.title, "none") %>
      <%- else -%>
        <%= navigate_icon(gallery, [:new, :admin, gallery, :menu], gallery.title, "inline") %>
        <%= denavigate_icon(gallery, gallery.title, "none") %>
      <%- end -%>
      <%- if gallery.images_count > 0 -%>
        <%- if gallery.features_count > 0 -%>
          <%= defeature_icon(gallery, "/admin/galleries/#{gallery.to_param}/features/1", gallery.title, "inline") %>
          <%= feature_icon(gallery, [:admin, gallery, :features], gallery.title, "none") %>
        <%- else -%>
          <%= feature_icon(gallery, [:admin, gallery, :features], gallery.title, "inline") %>
          <%= defeature_icon(gallery, "/admin/galleries/#{gallery.to_param}/features/1", gallery.title, "none") %>
        <%- end -%>
      <%- else -%>
        <%= image_tag("#{icons_loc}/gray/16x16/Star.png", :class => "icon", :title => "#{gallery.title} must have images to be featured on the homepage.", :alt => "#{gallery.title} must have images to be featured on the homepage.", :id => "#{dom_id(gallery)}_feature_icon", :style => "display: #{display};") %>
      <%- end -%>
      <%= link_to_remote icon("Trash"), :url => [:admin, gallery], :method => :delete, :class => "icon", :confirm => "Really delete this image? This cannot be undone." %>
    </div>
  </div>
  <%= clear %>
</div><%- end -%>



