- categories = GalleryCategory.active
- unless categories.empty?
  %h1= section.title
  - if section.section_format == "gallery_thumbs"
    - for category in categories
      - if category.cover_gallery
        - gallery = category.cover_gallery
      - else
        - gallery = category.galleries.first
      - if gallery
        %div{:id => dom_id(gallery), :class => "gallery #{cycle(nil,nil,nil,'endrow')}"}
          .gallery-thumb-container
            .gallery-thumb= link_to(image_tag(gallery.images.sort_by(&:position).first.image.url(:medium)), category)
          = clear
          .gallery-name= link_to(h(category.title), category)
          = clear
    = clear
  - else
    %ul.list-of-links
      - for category in categories
        %li
          = link_to(category.title, (category.galleries.size == 1) ? gallery_path(category.galleries.first) : gallery_category_path(category))
          - if @gallery_category and @gallery_category == category and section.section_format == "include_galleries"
            - unless category.galleries.empty?
              %ul.list-of-links
                - for gallery in category.galleries
                  %li{:class => (@gallery and @gallery.id == gallery.id) ? "selected gallery-item" : "gallery-item"}= link_to(gallery.title, gallery_path(gallery))
