- content_for :meta_title do
  = @gallery_category.title
- content_for :pre_footer do
  %script
    == var galleryCategoryTitle = "#{@gallery_category.title}"
- if !@cms_config['site_settings']['enable_responsive_layouts']
  - if !@gallery_category.column.blank?
    - @side_column_sections = @gallery_category.column.column_sections
    = render "shared/side_column"
  - elsif !@page.column.blank?
    - @side_column_sections = @page.column.column_sections
    = render "shared/side_column"
  %h1= @gallery_category.title
  - if @gallery_category.galleries.empty?
    %p No galleries yet.
  - else
    - for gallery in @gallery_category.galleries
      %div{:class => "gallery", :id => "#{gallery}"}
        .gallery-thumb-container
          .gallery-thumb
            = link_to(image_tag(gallery.images.sort_by(&:position).first.image.url(:medium), :alt => gallery.title), gallery_path(gallery))
        = clear
        %div{:class => "big gallery-name"}
          = link_to(h(gallery.title), gallery_path(gallery))

- else
  = render :partial => "shared/slice", :locals => {:column_section_id => nil, :controller => "gallery_categories", :action => "show"}, :collection => @main_column_sections
