= f.error_messages
.responsive-form
  .main-fields
    %h2.title.form-label= f.label :title, "Title"
    = f.text_field :title, :class => "big-input", :placeholder => "Generates the permalink."
  #main-details.details.options
    #options
      %dl
        %dt.form-label
          = f.label :template_id
        %dd.form-option
          = f.select :template_id, @templates.collect {|ac| [ac.title, ac.id]}, {:include_blank => "Select Template"}
      %dl
        - if !@cms_config['site_settings']['enable_responsive_layouts']
          %dt.form-label
            = f.label :column_id, "Side Column"
          %dd.form-option
            = collection_select(:gallery, :column_id, @side_columns, :id, :title, {:include_blank => "Select a Side Column"}, :class => "select")
        - else
          %dt.form-label
            = f.label :main_column_id, "Layout"
          %dd.form-option
            = collection_select(:gallery, :main_column_id, @layouts, :id, :title, {:include_blank => "Select a Layout"}, :class => "select")      
      - if @gallery_category.galleries.size > 0
        %dl
          %dt.form-label
            = f.label :cover_gallery_id
          %dd.form-option
            = f.select :cover_gallery_id, @gallery_category.galleries.collect {|ac| [ac.title, ac.id]}, {:include_blank => "Select a Cover Gallery"}
  = clear
  #body-wrapper
    .options#body-details
      .inserts
        %strong Insert:
        %br
        = render :partial => "admin/shared/parser_help"
        = render :partial => "admin/shared/asset_options"
        = render :partial => "admin/shared/insert_map"

    %div{:style => "width: 560px;"}
      %h2.form-label
        = f.label :description, "Body"
      = f.text_area :description, :size => "100x40", :class => "mceEditor"
&nbsp;
- fancy_submit admin_event_categories_path do
  = f.submit "Save category"
