- if section.section_format == "category" and @gallery_category
  - galleries = Gallery.public.reject{|x| x.gallery_category_id != @gallery_category.id}
- else
  - galleries = Gallery.public
.galleries
  %h1=section.title
  - if galleries.empty?
    %p No image galleries yet.
  - else
    - for gallery in galleries
      %div{:id => dom_id(gallery), :class => "gallery #{cycle(nil,nil,nil,'endrow')}"}
        .gallery-thumb-container
          .gallery-thumb= link_to(image_tag(gallery.images.sort_by(&:position).first.image.url(:medium)), gallery)
        = clear
        .gallery-name= link_to(h(gallery.title), gallery)
        = clear
  = clear