%h1= yield(:meta_title).strip
- if @galleries.empty?
  %p No galleries yet.
- else
  - for gallery in @galleries
    %div{:class => "gallery", :id => "#{gallery}"}
      .gallery-thumb-container
        .gallery-thumb
          = link_to(tag(:img, "data-src" => gallery.images.sort_by(&:position).first.image.url(:medium), :alt => gallery.title, :class => "lazyload"), gallery)
      = clear
      %div{:class => "big gallery-name"}
        = link_to(h(gallery.title), gallery)