- content_for :meta_title do
  = h @gallery.title
- content_for :meta_description do
  = @gallery.description
%h1
  = h @gallery.title

- if @gallery.slideshow?
  - @slideshow = true
  - @use_galleryview = true
  %style{:type => "text/css"}
    == .panel { width: 860px !important; text-align: center; }
    == .panel.bottom .panel-overlay-outer { width: 100%; }
    ==#gallery-slideshow { background: #{@cms_config['site_settings']['feature_box_background_color'] ? @cms_config['site_settings']['feature_box_background_color'] : '#ccc'}; border: #{@cms_config['site_settings']['feature_box_border'] ? @cms_config['site_settings']['feature_box_border'] : '4px solid #e6e6e6'}; height: 664px !important; }
    = "div.gv-pointer { margin-top: -4px; }" if @settings.show_feature_thumbs
    div.gv-panel-content { overflow: hidden; }
    div.gv-nav-prev { width: 30px; height: 30px; margin-left: -2px; margin-top: -1px; }
    div.gv-nav-next { width: 30px; height: 30px; margin-right: -2px; margin-top: -1px; }
  :javascript
    jQuery(document).ready(function() {
    jQuery('#gallery-slideshow').galleryView({
    panel_width: 860,
    panel_height: 600,
    frame_width: 85,
    frame_height: 55,
    overlay_height: 80,
    overlay_color: '#222',
    overlay_text_color: 'white',
    caption_text_color: '#222',
    background_color: '#333',
    nav_theme: 'custom',
    transition_speed: 1000
    });
    });
  %ul#gallery-slideshow.galleryview
    - for image in @gallery.images
      %li
        = image_tag(image.small_thumbnail, :title => image.title, :alt => image.title, :style => "width: 85px; height: 55px", :class => "content-img")
        .gv-panel-content
          %div{:class => "panel bottom"}
            .panel-overlay-outer
              .panel-overlay-inner
                %h2
                  = h image.title if image.title
                %p
                  = h image.caption
                = clear
            = image_tag(image.image(:large), :title => image.title, :alt => image.title)
- elsif !@gallery.body.blank?
  = @gallery.body
  - content_for :side_column do
    - @gallery.images.sort_by(&:position).each_with_index do |image, i|
      - if i == 0
        .image-thumb-container
          .main-image-thumb
            = link_to image_tag(image.image(:slide), :alt => h(image.title), :style => "width: 280px; "), image.image.url(:large), :class => "fancy", :rel => "gallery", :title => h(image.title)
        = clear
      - else
        .image
          .image-thumb-container
            .image-thumb
              - unless image.description.blank? and image.show_rating? and !image.video_url.blank?
                = link_to image_tag(image.small_thumbnail, :alt => h(image.title), :title => h(image.title)), [@gallery, image]
              - else
                = link_to image_tag(image.small_thumbnail, :alt => h(image.title), :title => h(image.title)), image.image.url(:large), :class => "fancy", :rel => "gallery", :title => h(image.title)
  - content_for :head do
    %style{:type => "text/css"}
      div.image-thumb { height: 55px; width: 85px; }

- else
  - for image in @gallery.images.sort_by(&:position)
    .image
      .image-thumb-container
        .image-thumb
          - unless image.description.blank? and !image.show_rating? and image.video_url.blank?
            = link_to image_tag(image.image.url(:medium), :alt => h(image.title), :title => h(image.title)), [@gallery, image]
          - else
            = link_to image_tag(image.image.url(:medium), :alt => h(image.title), :title => h(image.title)), image.image.url(:large), :class => "fancy", :rel => "gallery"
        - unless image.caption.blank?
          .image-caption
            =image.caption
  .clear
  - content_for :head do
    %style{:type => "text/css"}
      ==.main-column .image-thumb { width: 200px; }
      ==.main-column .image-caption { font-size: .8em; }
      ==.main-column .image-thumb-container { width: 200px; }
- if @side_column_sections
  = render "shared/side_column"